esxi_hostname       = "esx1.redtalks.lab"
esxi_username       = "<username>"
esxi_password       = "<password>"
server_ova_url      = "http://nas.redtalks.lab:8000/rtLabDebianHashiStackVM.ova"
web_service_ova_url = "http://nas.redtalks.lab:8000/rtLabChatWebFrontend.ova"
db_service_ova_url  = "http://nas.redtalks.lab:8000/rtLabChatDatabase.ova"
vm_guest_username   = "<username>"
vm_guest_password   = "<password>"


servers = {
  count       = 3
  dc          = "rtlab-dc-1"
  name_prefix = "consul-server"
}

service_chat_web_frontend = {
  name_prefix = "service"
  services = [
    {
      name = "web"
      meta = "{ version = \"0.1\" }"
      port        = 3000
      sidecar     = "{\n      proxy = {\n        upstreams = [\n          {\n            destination_name = \"database\"\n            local_bind_port = 27017\n          }\n        ]\n      }\n    }"
    },
    {
      name = "web"
      meta = "{ version = \"0.2\" }"
      port        = 3000
      sidecar     = "{\n      proxy = {\n        upstreams = [\n          {\n            destination_name = \"database\"\n            local_bind_port = 27017\n          }\n        ]\n      }\n    }"
    }
  ]
}

service_chat_api = {
  name_prefix = "service"
  services = [
    {
      name = "api"
      meta = "{ version = \"0.1\" }"
      port        = 3000
      sidecar     = "{\n      proxy = {\n        upstreams = [\n          {\n            destination_name = \"database\"\n            local_bind_port = 27017\n          }\n        ]\n      }\n    }"
    },
    {
      name = "api"
      meta = "{ version = \"0.2\" }"
      port        = 3000
      sidecar     = "{\n      proxy = {\n        upstreams = [\n          {\n            destination_name = \"database\"\n            local_bind_port = 27017\n          }\n        ]\n      }\n    }"
    }
  ]
}

service_chat_database = {
  name_prefix = "service"
  services = [
    {
      name = "database"
      meta = "{ version = \"0.1\" }"
      port        = 27017
      sidecar     = "{}"
    }
  ]
}

ingress_gateway_1 = {
    name    = "ingress_gateway_1"
}