#####################################################################
# Base image w/ HashiCorp GPG key installed for APT Package Manager #
#####################################################################

esxi_host      = "esx1.redtalks.lab"
esxi_username  = "<username>"
esxi_password  = "<password>"
iso_url        = "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-11.1.0-amd64-netinst.iso"
iso_sha256     = "sha256:8488abc1361590ee7a3c9b00ec059b29dfb1da40f8ba4adf293c7a30fa943eb2"
guest_username = "<username>"
guest_password = "<password>"